<!-- <div>
    <label class="flex items-center cursor-pointer">
    <span class="mr-3 text-gray-700">Dark mode</span>
    <div class="relative">
        <input type="checkbox"
            x-ref="darkModeToggle"
            x-on:input="toggleDarkMode"
            class="sr-only peer" />
        <div 
            class="w-11 h-6 bg-gray-300 rounded-full transition-colors"
            :class="toggleCheckedClass"
        ></div>
        <div
            class="absolute left-1 top-1 w-4 h-4 bg-white rounded-full transition-left duration-200 ease-in-out"
            :class="toggleCheckedClassTranslate"
        ></div>
    </div>
    </label>
</div> -->