
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/tailwind.css') }}"
    >
</head>
<body class="bg-gray-100 dark:bg-gray-900 dark:text-white flex justify-center items-center h-screen">
    <div class="bg-white dark:bg-gray-800 p-8 rounded shadow max-w-sm w-full">
        <h1 class="text-xl font-bold mb-4">
            Enter Access Password
        </h1>
        <form method="post"> 
            <input
                type="hidden"
                name="csrf_token"
                value="{{ csrf_token() }}"
            >
            <input
                type="password"
                name="password"
                class="border dark:border-gray-500 p-2 w-full mb-4"
                placeholder="Password"
                required
            >
            <button class="bg-blue-500 px-4 py-2 rounded w-full">
                Access
            </button>
        </form>
    </div>
</body>
</html>
